.stat-cards-container {
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 30px;
}

.stat-pill {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    width: 250px;
    background-color: #f5f5f5;
    position: relative;
}

.pill-left {
    flex: 1;
    background-color: #007bff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    padding: 8px 15px;
}

.pill-right {
    background-color: white;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px 0px 0px 7px;
    width: 80px;
    height: 70%;
    position: absolute;
    right: 0;
    top: 0;
}

.pill-label {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 4px;
    padding-left: 10px;
}

.pill-percent {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.85);
    padding-left: 10px;
}

.pill-value {
    font-weight: 700;
    font-size: 1.2rem;
    color: #111;
}